ul {
  max-width: 75rem;
  margin: auto;
}

.user-list li {
  display: flex;
  gap: 1rem;
}

.user-info {
  display: flex;
  width: 80%;
  justify-content: space-around;
  border: solid 1px black;
  margin: 1rem 0;
}

.user-thumbnail {
  width: 10%;
  height: 4rem;
  object-fit: cover;
  margin: 1rem 0;
}
